@page "/"
@using picSimu.Simulation
@* @implements IAsyncDisposable *@
@inject IJSRuntime JS

@code {
    private IJSObjectReference? module;
    private string? code;
    private string? parsedInstructionCodes;
    public string[]? InstructionCodes;
    private Pic pic = new Pic();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            module = await JS.InvokeAsync<IJSObjectReference>("import", "./js/parser.js");
        }
    }

    private async Task LoadFiles(InputFileChangeEventArgs e)
    {
        code = await new StreamReader(e.File.OpenReadStream()).ReadToEndAsync();
        await DisplayPicCode(code);
        parsedInstructionCodes = await GetInstructionCodes(code);
        Console.WriteLine("parsed instruction codes: " + parsedInstructionCodes);
        if (parsedInstructionCodes != null)
        {
            InstructionCodes = parsedInstructionCodes.Split(",");
            pic = new Pic();

            if (InstructionCodes != null)
            {
                pic.LoadInstructionCodes(InstructionCodes);
            }
        }
    }

    public async ValueTask<string?> DisplayPicCode(string sourceCode)
    {
        return module is not null ?
            await module.InvokeAsync<string>("parsePic", sourceCode) : null;
    }

    public async ValueTask<string?> GetInstructionCodes(string sourceCode)
    {
        return module is not null ?
            await module.InvokeAsync<string>("getInstructionCodes", sourceCode) : null;
    }

    public async Task<bool> RunSimulation()
    {
        if (InstructionCodes != null)
        {
            pic.Run();
        }
        return false;
    }

    public async Task<bool> StopSimulation()
    {
        if (InstructionCodes != null)
        {
            pic.Stop();
        }
        return false;
    }

    public async Task<bool> StepSimulation()
    {
        if (InstructionCodes != null)
        {
            pic.Step();
        }
        return false;
    }

    public async Task<bool> ResetSimulation()
    {
        if (InstructionCodes != null)
        {
            pic.Reset();
        }
        return false;
    }

    // public async ValueTask DisposeAsync()
    // {
    //     if (module is not null)
    //     {
    //         await module.DisposeAsync();
    //     }
    // }

    private static string FormatValue(uint value)
    {
        return value + "\n" + Convert.ToString(value, 2).PadLeft(8, '0');
    }

    private string UpdateProgramCounter(uint pc)
    {
        module?.InvokeAsync<string>("highlightCodeLine", pc.ToString());
        return $"{pc} ({pc.ToString("X2")}h)";
    }

    public Port TrisA { get; set; } = new Port();
    public Port PortA { get; set; } = new Port();
    public Port TrisB { get; set; } = new Port();
    public Port PortB { get; set; } = new Port();
    public Timing Timing { get; set; } = new Timing() {QuartzFrequency = 32, ReleaseWatchdog = false};

}

<PageTitle>Index</PageTitle>

<div class="top-row px-4">
    <InputFile style="width: 30em" class="form-control form-control-sm" OnChange="@LoadFiles" multiple/>
    <button class="btn btn-primary btn-sm" disabled="@(InstructionCodes is null)" @onclick="RunSimulation">Start</button>
    <button class="btn btn-primary btn-sm" disabled="@(InstructionCodes is null)" @onclick="StopSimulation">Stop</button>
    <button class="btn btn-primary btn-sm" disabled="@(InstructionCodes is null)" @onclick="StepSimulation">Step</button>
    <button class="btn btn-primary btn-sm" disabled="@(InstructionCodes is null)" @onclick="ResetSimulation">Reset</button>
    <b style="margin-left: auto">picSimu</b>
</div>


<article class="content">
<div class="d-flex flex-row justify-content-between">
    <label class="h5 pe-5">SFR + W:</label>
    <div>
        <label class="sfr-label">W: </label>
        <label class="sfr-value">@UpdateProgramCounter(pic.Programmcounter)</label>
    </div>
    <div>
        <label class="sfr-label">PCL: </label>
        <label contenteditable="true" class="sfr-value">00h</label>
    </div>
    <div>
        <label class="sfr-label">PCLATH: </label>
        <label class="sfr-value">00h</label>
    </div>
    <div>
        <label class="sfr-label">Status: </label>
        <label class="sfr-value">00h</label>
    </div>
    <div>
        <label class="sfr-label">FSR: </label>
        <label class="sfr-value">00h</label>
    </div>
    <div>
        <label class="sfr-label">Option: </label>
        <label class="sfr-value">00h</label>
    </div>
    <div>
        <label class="sfr-label">Prescaler: </label>
        <label class="sfr-value">1:1</label>
    </div>
    <div>
        <label class="sfr-label">Timer0: </label>
        <label class="sfr-value">00h</label>
    </div>
</div>

<hr class="my-1">

<div class="d-flex flex-row overflow-hidden pt-2">

<div style="flex-grow: 2" class="d-flex flex-column overflow-hidden">
    <label class="h5">LST</label>
    <div id="code-block" class="code-block d-flex overflow-auto"></div>
</div>

<div style="margin-left: 0.5em" class="vr"></div>

<div id="register-table" class="d-flex flex-column">
    <label class="h5">File Regsiter</label>
    <label class="h5">(SFR & GPR)</label>
    <div style="overflow-x: hidden;" class="d-flex">
        <table class="table-sm">
            <thead>
            <tr>
                <th class="text-center" colspan="2">Bank 0</th>
                <th class="text-center" colspan="2">Bank 1</th>
            </tr>
            <tr>
                <th>Adr.</th>
                <th class="register-table-border-1">Val.</th>
                <th class="register-table-border-2">Adr.</th>
                <th>Val.</th>
            </tr>
            </thead>
            <tbody>
            @{
                uint y;
                @for (uint i = 0; i < pic.Memory.Register.Length / 2; i++)
                {
                    y = i + 0x80;
                    <tr>
                        <td title="@i">@i.ToString("X2")h</td>
                        <td contenteditable title="@FormatValue(pic.Memory.ReadRegister(i))">@pic.Memory.ReadRegister(i).ToString("X2")h</td>
                        <td title="@y">@y.ToString("X2")h</td>
                        <td contenteditable title="@FormatValue(pic.Memory.ReadRegister(y))">@pic.Memory.ReadRegister(y).ToString("X2")h</td>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>
</div>

<div style="margin-left: 0.5em" class="vr"></div>

<div class="d-flex flex-column justify-content-around">

<div class="d-flex flex-row justify-content-around">
    <EditForm Model="@Timing" id="timing-control" class="d-flex flex-column smaller-text justify-content-center">
        <label class="h5">Timing</label>
        <div>
            <label class="sfr-label">Runtime: </label> <label>0 µs</label>
        </div>
        <div>
            <label class="sfr-label">Quartz: </label>
            <InputSelect class="form-select-sm" @bind-Value="Timing.QuartzFrequency">
                <option value="32" selected>32 kHz</option>
            </InputSelect>
        </div>
        <div>
            <label class="sfr-label">Release Watchdog: </label>
            <BootstrapCheckbox @bind-Value="Timing.ReleaseWatchdog"></BootstrapCheckbox>
        </div>
        <div>
            <label class="sfr-label">Watchdog: </label> <label>00h</label>
        </div>
    </EditForm>

    <div class="vr"></div>

    <div style="flex-grow: 2; align-items: center;" id="stack-table" class="d-flex flex-column">
        <label class="h5">Stack</label>
        <table style="width: fit-content" class="table-sm">
            <thead>
            <tr>
                <th>Ptr.</th>
                <th>Adr.</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>0</td>
                <td>00h</td>
            </tr>
            <tr>
                <td>1</td>
                <td>00h</td>
            </tr>
            <tr>
                <td>2</td>
                <td>00h</td>
            </tr>
            <tr>
                <td>3</td>
                <td>00h</td>
            </tr>
            <tr>
                <td>4</td>
                <td>00h</td>
            </tr>
            <tr>
                <td>5</td>
                <td>00h</td>
            </tr>
            <tr>
                <td>6</td>
                <td>00h</td>
            </tr>
            <tr>
                <td>7</td>
                <td>00h</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<hr>

<div class="d-flex flex-column">
    <label class="h5">SFR (Bits)</label>
    <table style="height: 100%" class="table-sm">
        <tbody>
        <tr>
            <th>Status</th>
            <td>IRP</td>
            <td>RP1</td>
            <td>RP0</td>
            <td>
                <span style="text-decoration:overline">TO</span>
            </td>
            <td>
                <span style="text-decoration:overline">PD</span>
            </td>
            <td>Z</td>
            <td>DC</td>
            <td>C</td>
        </tr>
        <tr>
            <td></td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>@pic.Memory.GetCarryFlag().ToNumber()</td>
            <td>@pic.Memory.GetDigitCarryFlag().ToNumber()</td>
            <td>@pic.Memory.GetZeroFlag().ToNumber()</td>
        </tr>
        <tr>
            <th>Option</th>
            <td>
                <span style="text-decoration:overline">RBPU</span>
            </td>
            <td>INTEDG</td>
            <td>T0CS</td>
            <td>T0SE</td>
            <td>PSA</td>
            <td>PS2</td>
            <td>PS1</td>
            <td>PS0</td>
        </tr>
        <tr>
            <td></td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr>
            <th>Intcon</th>
            <td>GIE</td>
            <td>EEIE</td>
            <td>T0IE</td>
            <td>INTE</td>
            <td>RBIE</td>
            <td>T0IF</td>
            <td>INTF</td>
            <td>RBIF</td>
        </tr>
        <tr>
            <td></td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
        </tbody>
    </table>
</div>

<hr>

<label class="h5">Port A</label>
<EditForm Model="@TrisA" class="d-flex flex-row justify-content-between me-2">
    <div class="sfr-label port-label">Tris</div>
    <div>
        <BootstrapCheckbox @bind-Value="TrisA.Pin0"/> 0
    </div>
    <div>
        <BootstrapCheckbox @bind-Value="TrisA.Pin1"/> 1
    </div>
    <div>
        <BootstrapCheckbox @bind-Value="TrisA.Pin2"/> 2
    </div>
    <div>
        <BootstrapCheckbox @bind-Value="TrisA.Pin3"/> 3
    </div>
    <div>
        <BootstrapCheckbox @bind-Value="TrisA.Pin4"/> 4
    </div>
    <div>
        <BootstrapCheckbox @bind-Value="TrisA.Pin5"/> 5
    </div>
    <div>
        <BootstrapCheckbox @bind-Value="TrisA.Pin6"/> 6
    </div>
    <div>
        <BootstrapCheckbox @bind-Value="TrisA.Pin7"/> 7
    </div>
</EditForm>
<EditForm Model="@PortB" class="d-flex flex-row justify-content-between me-2">
    <div class="sfr-label port-label">Pin</div>
    <div>
        <BootstrapCheckbox @bind-Value="PortA.Pin0"/> 0
    </div>
    <div>
        <BootstrapCheckbox @bind-Value="PortA.Pin1"/> 1
    </div>
    <td>
        <BootstrapCheckbox @bind-Value="PortA.Pin2"/> 2
    </td>
    <div>
        <BootstrapCheckbox @bind-Value="PortA.Pin3"/> 3
    </div>
    <div>
        <BootstrapCheckbox @bind-Value="PortA.Pin4"/> 4
    </div>
    <div>
        <BootstrapCheckbox @bind-Value="PortA.Pin5"/> 5
    </div>
    <div>
        <BootstrapCheckbox @bind-Value="PortA.Pin6"/> 6
    </div>
    <div>
        <BootstrapCheckbox @bind-Value="PortA.Pin7"/> 7
    </div>
</EditForm>

<hr>

<label class="h5">Port B</label>
<EditForm Model="@TrisB" class="d-flex flex-row justify-content-between me-2">
    <div class="sfr-label port-label">Tris</div>
    <div>
        <BootstrapCheckbox @bind-Value="TrisB.Pin0"/> 0
    </div>
    <div>
        <BootstrapCheckbox @bind-Value="TrisB.Pin1"/> 1
    </div>
    <div>
        <BootstrapCheckbox @bind-Value="TrisB.Pin2"/> 2
    </div>
    <div>
        <BootstrapCheckbox @bind-Value="TrisB.Pin3"/> 3
    </div>
    <div>
        <BootstrapCheckbox @bind-Value="TrisB.Pin4"/> 4
    </div>
    <div>
        <BootstrapCheckbox @bind-Value="TrisB.Pin5"/> 5
    </div>
    <div>
        <BootstrapCheckbox @bind-Value="TrisB.Pin6"/> 6
    </div>
    <div>
        <BootstrapCheckbox @bind-Value="TrisB.Pin7"/> 7
    </div>
</EditForm>
<EditForm Model="@PortB" class="d-flex flex-row justify-content-between me-2">
    <div class="sfr-label port-label">Pin</div>
    <div>
        <BootstrapCheckbox @bind-Value="PortB.Pin0"/> 0
    </div>
    <div>
        <BootstrapCheckbox @bind-Value="PortB.Pin1"/> 1
    </div>
    <td>
        <BootstrapCheckbox @bind-Value="PortB.Pin2"/> 2
    </td>
    <div>
        <BootstrapCheckbox @bind-Value="PortB.Pin3"/> 3
    </div>
    <div>
        <BootstrapCheckbox @bind-Value="PortB.Pin4"/> 4
    </div>
    <div>
        <BootstrapCheckbox @bind-Value="PortB.Pin5"/> 5
    </div>
    <div>
        <BootstrapCheckbox @bind-Value="PortB.Pin6"/> 6
    </div>
    <div>
        <BootstrapCheckbox @bind-Value="PortB.Pin7"/> 7
    </div>
</EditForm>
</div>
</div>
</article>
<hr class="mt-1">