@page "/"
@using picSimu.Simulation
@* @implements IAsyncDisposable *@
@inject IJSRuntime JS

<PageTitle>Index</PageTitle>

<InputFile OnChange="@LoadFiles" multiple/>
@* <button disabled="@(InstructionCodes is null ? "true" : "false")" @onclick="RunSimulation">RUN</button> *@
<button disabled="@(InstructionCodes is null ? true : false)" @onclick="RunSimulation">Start</button>
<button disabled="@(InstructionCodes is null ? true : false)" @onclick="StopSimulation">Stop</button>
<button disabled="@(InstructionCodes is null ? true : false)" @onclick="StepSimulation">Step</button>
<button disabled="@(InstructionCodes is null ? true : false)" @onclick="ResetSimulation">Reset</button>

@code {
    private IJSObjectReference? module;
    private string? code;
    private string? parsedInstructionCodes;
    public string[]? InstructionCodes;
    private Pic? pic;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            module = await JS.InvokeAsync<IJSObjectReference>("import", "./js/parser.js");
        }
    }

    private async Task LoadFiles(InputFileChangeEventArgs e)
    {
        code = await new StreamReader(e.File.OpenReadStream()).ReadToEndAsync();
        await DisplayPicCode(code);
        parsedInstructionCodes = await GetInstructionCodes(code);
        Console.WriteLine("parsed instruction codes: " + parsedInstructionCodes);
        if (parsedInstructionCodes != null)
        {
            InstructionCodes = parsedInstructionCodes.Split(",");
            pic = new Pic();

            if (InstructionCodes != null && pic != null)
            {
                pic.LoadInstructionCodes(InstructionCodes);
            }
        }
    }

    public async ValueTask<string?> DisplayPicCode(string sourceCode)
    {
        return module is not null ?
            await module.InvokeAsync<string>("parsePic", sourceCode) : null;
    }

    public async ValueTask<string?> GetInstructionCodes(string sourceCode)
    {
        return module is not null ?
            await module.InvokeAsync<string>("getInstructionCodes", sourceCode) : null;
    }

    public async Task<bool> RunSimulation()
    {
        if (InstructionCodes != null && pic != null)
        {
            pic.Run();
        }
        return false;
    }

    public async Task<bool> StopSimulation()
    {
        if (InstructionCodes != null && pic != null)
        {
            pic.Stop();
        }
        return false;
    }

    public async Task<bool> StepSimulation()
    {
        if (InstructionCodes != null && pic != null)
        {
            pic.Step();
        }
        return false;
    }

    public async Task<bool> ResetSimulation()
    {
        if (InstructionCodes != null && pic != null)
        {
            pic.Reset();
        }
        return false;
    }

    // public async ValueTask DisposeAsync()
    // {
    //     if (module is not null)
    //     {
    //         await module.DisposeAsync();
    //     }
    // }

}

<div class="d-flex flex-row justify-content-between pt-4">
    <div id="code-block" class="code-block"> </div>
    <div style="height: 100ex; overflow: auto">
        <h2> Memory </h2>
        <table class="table">
            <thead>
            <tr>
                <th>Address Bank 0</th>
                <th>Bank 0</th>
                <th>Address Bank 1</th>
                <th>Bank 1</th>
            </tr>
            </thead>
            <tbody>
            @{
                if (pic != null)
                {
                    uint y;
                    @for (uint i = 0; i < pic.Memory.Register.Length / 2; i++)
                    {
                        y = i + 0x80;
                        <tr>
                            <td title="@i">@i.ToString("X2")h</td>
                            <td>@pic.Memory.ReadRegister(i)</td>
                            <td title="@y">@y.ToString("X2")h</td>
                            <td>@pic.Memory.ReadRegister(y)</td>
                        </tr>
                    }
                }
            }
            </tbody>
        </table>
    </div>
    <div>
        <h2> State </h2>
        <table class="table">
            <thead>
            <tr>
                <th>W</th>
                <th>C</th>
                <th>DC</th>
                <th>Z</th>
            </tr>
            </thead>
            <tbody>
            @{
                if (pic != null)
                {
                    <tr>
                        <td title="@pic.wRegister">@pic.wRegister.ToString("X2")h</td>
                        <td>@Convert.ToByte(pic.Memory.GetCarryFlag())</td>
                        <td>@Convert.ToByte(pic.Memory.GetDigitCarryFlag())</td>
                        <td>@Convert.ToByte(pic.Memory.GetZeroFlag())</td>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>
</div>